<div class="auth-wrapper">
    <div class="auth-content">
      <div class="auth-bg">
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
      </div>
      <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-4">
            <i class="feather icon-unlock auth-icon"></i>
          </div>
          <h3 class="mb-4">Inicias Sesión</h3>
          <h3 class="mb-4">Gestión de Tareas</h3>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Usuario ó Correo Electrónico" />
          </div>
  
            <div class="input-group mb-4">
              <div class="input-group">
                <input
                [type]="showPassword ? 'text' : 'password'" 
                  class="form-control"
                  id="validationTooltipUsername"
                  placeholder="Contraseña"
                  aria-describedby="validationTooltipUsernamePrepend"
                  required
                />
                <button class="input-group-text text-secondary"  (click)="togglePasswordVisibility()">  <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i></button>
                
              </div>
            </div>
  
  
          <button class="btn btn-primary ">Accede</button>
          <p class="mb-0 text-muted">
            ¿No tienes una cuenta?
            <a [routerLink]="['/auth/registro']">Registrate</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  