
<div class="row auth-wrapper auth-content">
    <div class="col-md-10 auth-bg">
      <span class="r"></span>
      <div class="card">

        
      <div class="card-body ">
          <div class="text-center">
            <i class="fa-solid fa-clipboard-list fa-2x text-primary"></i>
            <h3>Panel de Tareas</h3>
          </div>
          <div>
            <form>
              <div class="row">
                <div class="form-group">
                  <label for="inputTitulo">Título<app-required-char /></label>
                  <input type="text" class="form-control" id="inputTitulo" aria-describedby="tituloHelp"
                    placeholder="Ingresa el título de la tarea" />
                </div>
                <div class="form-group">
                  <label for="inputDescripcion">Descripción<app-required-char /></label>
                  <textarea type="text" class="form-control" id="inputDescripcion" aria-describedby="emailHelp"
                    placeholder="Ingresa la descripción de la tarea"></textarea>
                </div>
              </div>
              
          <div class="row text-center">
            <div>
              <br>
              <button class="btn btn-success shadow-2 mb-4">Agregar Tarea</button>
            </div>
          </div>
            </form>
          </div>
          
          <div class="row">
            <h1 class="text-center">Lista de Tareas</h1>
            <hr>
            <div class="col-4">
                <app-card [idEstado]></app-card>
            </div>
            <div class="col-4">
                <app-card></app-card>
            </div>
            <div class="col-4">
                <app-card></app-card>
            </div>
          </div> 
        </div>  
        
        
    </div> 
      
    </div>
  </div>
  
  
